@import '../assets.scss';

.item {
  position: relative;
  display: flex;
  align-items: center;
  background-color: $darkGray;
  border-radius: 38px;
  box-shadow: $shadow;
  min-height: 60px;
  width: 100%;
  padding: 0;
  margin-bottom: 1.5rem;
  animation-name: emergenceItem;
  animation-duration: 1s;
  animation-timing-function: ease-out;

  @keyframes emergenceItem {
    0% {
      margin-left: -100vw;
      opacity: 0;
    }

    20% {
      opacity: 0;
    }

    60% {
      opacity: 1;
    }

    100% {
      margin-left: 0;
    }
  }

  .task {
    min-height: 16px;
    padding: 30px 80px 30px 20px;
    margin: 0;
    flex-grow: 1;
    word-break: break-word;
    cursor: text;
  }

  .statusTrue {
    color: darken($darkGray, 20%);
    text-decoration: line-through;
  }

  .emptyTask {
    color: darken($darkGray, 55%);
  }

  .textareaTask {
    background-color: transparent;
    font-size: inherit;
    min-height: 100px;
    padding: 15px 0 15px 0px;
    margin: 15px 75px 15px 20px;
    flex-grow: 1;
    transition-duration: 0.3s;
    border: none;
    font-family: $font;
    resize: none;
  }

  .label {
    width: 40px;
    height: 40px;
    margin-right: 7px;
    position: absolute;
    right: 20px;

    .checkbox {
      font-size: 0px;
      display: none;

      &:checked+.customСheckbox:before {
        opacity: 1;
      }
    }

    .customСheckbox {
      display: inline-block;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      box-shadow: $shadow;
      background-color: $darkGray;
      cursor: pointer;
      position: relative;

      &::before {
        content: '✔';
        position: absolute;
        color: #ffffff;
        background-color: #37D7B2;
        font-size: 1.5rem;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: .3s;
      }
    }
  }
}