@import 'colors.scss';

.heroWrap {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.mainTitle {
  margin-bottom: 50px;
  font-size: 4rem;
  font-weight: 100;
  color: white;
  line-height: 4rem;
}

.mainWrap {
  margin: 0 10px;
  font-size: 1.5rem;
}

.addNewTask {
  color: white;
  box-sizing: content-box;
  line-height: 100%;
  font-size: 3rem;
  font-weight: 100;
  width: 48px;
  height: 48px;
  background-color: #5CA8E0;
  padding: 10px;
  border: 0;
  border-radius: 50%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto 20px auto;
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.2);
  transition-duration: 0.5s;
}

.addNewTask:hover {
  padding: 15px;
  margin-bottom: 15px;
  background-size: cover;
  width: 56px;
  height: 56px;
  font-size: 3.5rem;
}